#smartphones-img {
  background: url(../assets/ilustration.svg) top/cover;
  margin-top: 5rem;
}

section {
  & header {
    & strong {
      display: block;
      font: var(--fw-md) var(--fs-sm)/100% var(--ff-sans);
      letter-spacing: .08rem;
      text-transform: uppercase;

      color: var(--brand-color-primary);
    }

    & h2 {
      margin-top: .5rem;
    }
  }

  & p {
    margin-top: .5rem;
    color: var(--text-color-secondary);
  }
}

@media (width >= 80em) {
  #smartphones-img {
    display: none;
  }
}